<h1 mat-dialog-title>{{data.header}}</h1>

<!--Edit user forms case-->
<div mat-dialog-content *ngIf="data.header === 'Edit user'">
    <mat-form-field class="col">
        <input matInput required #username="ngModel" [(ngModel)]="data.userData.username" placeholder="Username">
    </mat-form-field>

    <mat-form-field class="col">
        <input matInput type="password" [(ngModel)]="data.userData.userPass" placeholder="Password (leave empty to keep it old) ">
    </mat-form-field>

    <mat-form-field class="col">
        <input matInput required #fname="ngModel" [(ngModel)]="data.userData.fName" placeholder="First name">
    </mat-form-field>

    <mat-form-field class="col">
        <input matInput required #lname="ngModel" [(ngModel)]="data.userData.lName" placeholder="Last name">
    </mat-form-field>

    <mat-form-field class="col">
        <select matNativeControl required #role="ngModel" placeholder="Select role" [(ngModel)]="data.userData.role">
            <option value="ADM">Administrator</option>
            <option value="ANAL">Analyst</option>
            <option value="MAN">Manager</option>
            <option value="OFF">Officer</option>
        </select>
    </mat-form-field>

    <mat-dialog-actions>
        <button class="btn btn-sm btn-secondary" (click)="close()"> Return </button>
        &nbsp;
        <button [disabled]='role.invalid || fname.invalid || lname.invalid || username.invalid' [mat-dialog-close]="data.userData" class="btn btn-sm btn-primary"> Apply </button>
    </mat-dialog-actions>
</div>

<!--Add user forms case-->
<div mat-dialog-content *ngIf="data.header === 'Add user'">
    <mat-form-field class="col">
        <input matInput required #username="ngModel" [(ngModel)]="data.userData.username" placeholder="Username">
    </mat-form-field>

    <mat-form-field class="col">
        <input matInput required #password="ngModel" type="password" name="password" required #password="ngModel" [(ngModel)]="data.userData.userPass" placeholder="Password">
    </mat-form-field>

    <mat-form-field class="col">
        <input matInput required #fname="ngModel" [(ngModel)]="data.userData.fName" placeholder="First name">
    </mat-form-field>

    <mat-form-field class="col">
        <input matInput required #lname="ngModel" [(ngModel)]="data.userData.lName" placeholder="Last name">
    </mat-form-field>

    <mat-form-field class="col">
        <select matNativeControl required  placeholder="Select role" [(ngModel)]="data.userData.role" #role="ngModel">
            <option value="ADM">Administrator</option>
            <option value="ANAL">Analyst</option>
            <option value="MAN">Manager</option>
            <option value="OFF">Officer</option>
        </select>
    </mat-form-field>

    <mat-dialog-actions>
        <button class="btn btn-sm btn-secondary" (click)="close()"> Return </button>
        &nbsp;
        <button [disabled]='password.invalid || role.invalid || fname.invalid || lname.invalid || username.invalid' [mat-dialog-close]="data.userData" class="btn btn-sm btn-primary"> Apply </button>
    </mat-dialog-actions>
</div>