<h1 mat-dialog-title>{{data.header}}</h1>

<!--Edit user forms case-->
<div mat-dialog-content *ngIf="data.header === 'Edit user'">
    <mat-form-field class="col">
        <input matInput [(ngModel)]="data.userData.username" placeholder="Username">
    </mat-form-field>

    <mat-form-field class="col">
        <input matInput type="password" [(ngModel)]="data.userData.userPass" placeholder="Password (leave empty to keep it old) ">
    </mat-form-field>

    <mat-form-field class="col">
        <input matInput [(ngModel)]="data.userData.fName" placeholder="First name">
    </mat-form-field>

    <mat-form-field class="col">
        <input matInput [(ngModel)]="data.userData.lName" placeholder="Last name">
    </mat-form-field>

    <mat-form-field class="col">
        <select matNativeControl required placeholder="Select role" [(ngModel)]="data.userData.role">
            <option value="ADM">Administrator</option>
            <option value="ANAL">Analyst</option>
            <option value="MAN">Manager</option>
            <option value="OFF">Officer</option>
        </select>
    </mat-form-field>
</div>

<!--Add user forms case-->
<div mat-dialog-content *ngIf="data.header === 'Add user'">
    <mat-form-field class="col">
        <input matInput [(ngModel)]="data.userData.username" placeholder="Username">
    </mat-form-field>

    <mat-form-field class="col">
        <input matInput type="password" [(ngModel)]="data.userData.userPass" placeholder="Password">
    </mat-form-field>

    <mat-form-field class="col">
        <input matInput [(ngModel)]="data.userData.fName" placeholder="First name">
    </mat-form-field>

    <mat-form-field class="col">
        <input matInput [(ngModel)]="data.userData.lName" placeholder="Last name">
    </mat-form-field>

    <mat-form-field class="col">
        <select matNativeControl required placeholder="Select role" [(ngModel)]="data.userData.role">
            <option value="ADM">Administrator</option>
            <option value="ANAL">Analyst</option>
            <option value="MAN">Manager</option>
            <option value="OFF">Officer</option>
        </select>
    </mat-form-field>
</div>
<br>
<mat-dialog-actions>
    <button class="btn btn-sm btn-secondary" (click)="close()"> Return </button>
    &nbsp;
    <button [mat-dialog-close]="data.userData" class="btn btn-sm btn-primary"> Apply </button>
</mat-dialog-actions>