@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

table{
  width: 100%;
 }

 .element-detail {
  overflow: hidden;
  display: flex;
}

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}