@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.selected {
    background-color: #007afc7c !important;
    color: white;
  }

table{
  width: 200%;
 }

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}