<h1 mat-dialog-title>{{data.header}}</h1>

<div mat-dialog-content *ngIf="data.header == 'Requirement details'">
    <mat-form-field class="col">
        <input readonly matInput [(ngModel)]="data.requirementData.name" placeholder="Name">
    </mat-form-field>

    <mat-form-field class="col">
        <textarea readonly matInput [(ngModel)]="data.requirementData.description" placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field class="col">
        <textarea readonly matInput [(ngModel)]="data.requirementData.explanation" placeholder="Explanation"></textarea>
    </mat-form-field>

    <mat-dialog-actions>
        <button class="btn btn-sm btn-secondary" (click)="close()"> Return </button>
    </mat-dialog-actions>
</div>

<div mat-dialog-content *ngIf="data.header == 'Select group'">
    <mat-form-field>
        <mat-select name="groupId" required #groupId="ngModel" placeholder="Group" [(ngModel)]="data.groupData.groupId">
            <mat-option *ngFor="let group of data.groups" [value]="group.groupId">
              {{group.name}}
            </mat-option>
        </mat-select>
      </mat-form-field>

    <div [hidden]="groupId.valid"
        class="alert alert-danger">
        Group is required
    </div>

    <mat-dialog-actions>
        <button class="btn btn-sm btn-secondary" (click)="close()"> Return </button>
        &nbsp;
        <button [disabled]="groupId.invalid" type="submit" [mat-dialog-close]="data.groupData" class="btn btn-sm btn-primary"> Apply </button>
    </mat-dialog-actions>

</div>

<div mat-dialog-content *ngIf="data.header == 'Add group'">
    <mat-form-field class="col">
        <input matInput name="name" required #name="ngModel" [(ngModel)]="data.groupData.name" placeholder="Name">
    </mat-form-field>

    <mat-form-field class="col">
        <input matInput type="number" [(ngModel)]="data.groupData.workhours" placeholder="Workhours">
    </mat-form-field>

    <div [hidden]="name.valid"
        class="alert alert-danger">
        Name is required
    </div>

    <mat-dialog-actions>
        <button class="btn btn-sm btn-secondary" (click)="close()"> Return </button>
        &nbsp;
        <button [disabled]="name.invalid" type="submit" [mat-dialog-close]="data.groupData" class="btn btn-sm btn-primary"> Apply </button>
    </mat-dialog-actions>

</div>



