<h2>Tender menagement</h2>

<div class='col'>
    <!-- Filter -->
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <!-- Table -->
    <table mat-table [dataSource]="tenders$" multiTemplateDataRows class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="tenderId">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.tenderId}} </td>
        </ng-container>

        <ng-container matColumnDef="tenderName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.tenderName}} </td>
        </ng-container>

        <ng-container matColumnDef="employee">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Created by </th>
            <td mat-cell *matCellDef="let element"> {{element.employee}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>
        <!-- Buttons in action column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
                <button type="button" class="btn btn-secondary btn-sm" (click)="editTender(row)">Edit</button>
                &nbsp;
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteTender(row)">X</button>
            </td>
        </ng-container>
        <!-- Expandable row -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" colspan="5"> <!-- colspan 5 makes expandable row same size as table (5 columns) -->
                <div class="tender-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"> <!--[@detailExpand]= it's an animation feature  -->
                    <div class="tender-description">
                        {{requirements$}}
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let element; columns: columns;" class="tender-row"
            [class.expanded-row]="expandedElement === element" (click)="expandedElement = element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="requirement-row"></tr>
    </table>

    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    <button type="button" class="btn btn-primary" (click)="addTender()">Add new</button>
</div>