<h2>Tender management</h2>

<div class='col'>
    <!-- Filter -->
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <!-- Table -->
    <table mat-table [dataSource]="tenders$" multiTemplateDataRows class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="tenderId">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.tenderId}} </td>
        </ng-container>

        <ng-container matColumnDef="tenderName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.tenderName}} </td>
        </ng-container>

        <ng-container matColumnDef="employee">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Created by </th>
            <td mat-cell *matCellDef="let element"> {{element.employee}} </td>
        </ng-container>

        <ng-container matColumnDef="totalWh">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Total cost </th>
            <td mat-cell *matCellDef="let element"> {{element.totalWh}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>
        <!-- Buttons in action column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
                <button type="button" class="btn btn-secondary btn-sm" (click)="addRequirement(row)">Add requirement</button>
                &nbsp;
                <button type="button" class="btn btn-secondary btn-sm" (click)="editTender(row)">Edit</button>
                &nbsp;
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteTender(row)">X</button>
            </td>
        </ng-container>
        <!-- Expandable row -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" colspan="5"> <!-- colspan 5 makes expandable row same size as table (5 columns) -->
                <div class="tender-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"> <!--[@detailExpand]= it's an animation feature  -->
                    <div class="tender-description">
                        <table mat-table [dataSource]="requirements$" class="reqTable" *ngIf="requirements$.length > 0 && !loading">
                            <!-- Content of table in expandable row -->
                            <ng-container matColumnDef="reqId">
                                <th mat-header-cell *matHeaderCellDef class="reqTableHeader"> ID </th>
                                <td mat-cell *matCellDef="let cell" class="reqTableCell" > {{cell.reqId}} </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef class="reqTableHeader"> Name </th>
                                <td mat-cell *matCellDef="let cell" class="reqTableCell"> {{cell.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef class="reqTableHeader"> Description </th>
                                <td mat-cell *matCellDef="let cell" class="reqTableCell" ng-text-truncate="cell.description" ng-tt-words-threshold="50"> {{cell.description}} </td>
                            </ng-container>

                            <ng-container matColumnDef="explanation">
                                <th mat-header-cell *matHeaderCellDef class="reqTableHeader"> Explanation </th>
                                <td mat-cell *matCellDef="let cell" class="reqTableCell"> {{cell.explanation}} </td>
                            </ng-container>

                            <!-- Buttons in action column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef class="reqTableHeader"> Actions </th>
                                <td mat-cell *matCellDef="let cell">
                                    <button type="button" class="btn btn-secondary btn-sm" (click)="editRequirement(cell)">Edit</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteRequirement(cell)">X</button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="reqColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: reqColumns;"></tr>
                        </table>
                        <div class="col" *ngIf="loading">
                            <mat-spinner [diameter] = 50> </mat-spinner>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let element; columns: columns;" class="tender-row" [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = element" (click)="getRequirementByTenderID(element.tenderId)"> 
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="requirement-row"></tr>
    </table>

    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    <button type="button" class="btn btn-primary" (click)="addTender()">Add new</button>
</div>