<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Router</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="login">Login </a>
        </li>
        <li class="nav-item" *ngIf="expression">
          <a class="nav-link" href="users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tenders">Tenders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="requirements">Requirement workhours</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="groups">Group requirements</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-danger my-2 my-sm-0" type="button" (click)="logout()">Logout</button>
      </form>
    </div>
  </nav>

<router-outlet></router-outlet>