
<form name="form1">
    <div class="row">  
        <div class="col">
            <input name="UsernameInput" type="text" class="form-control" placeholder="Username" [(ngModel)]="searchedUsername" >
        </div>
        <div>
            <input name="FirstnameInput" type="text" class="form-control" placeholder="First name" [(ngModel)] = "searchedFirstName" >
        </div>
    </div>
</form>
<br>

<button *ngIf="searchedUsername == '' && searchedFirstName == ''" class ="btn btn-primary btn-block" (click)="getUsers()" >Search</button> <!--Visible if forms are empty, method shows all users-->
<button *ngIf="searchedUsername != ''" class ="btn btn-primary btn-block" (click)="getUsersByUsername()" >Search</button> <!--If any form is filled, get with conditions-->

<br>
<table class="table table-sm table-striped table-hover table-responsive-sm overflow:auto">
    <tr>
        <th *ngFor="let col of columns">
            {{col}}
        </th>
    </tr>
    <tr *ngFor="let user of users$ | async">
        <td *ngFor="let col of columns">
            {{user[col]}}
        </td>
    </tr>
</table>
