<h2>Workhours menagement</h2>

<div class='col'>
  <!-- Filter -->
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <!-- Table -->
  <table mat-table [dataSource]="requirements$" class="reqTable">
    <!-- Content of table in expandable row -->
    <ng-container matColumnDef="reqId">
      <th mat-header-cell *matHeaderCellDef class="reqTableHeader"> ID </th>
      <td mat-cell *matCellDef="let cell" class="reqTableCell"> {{cell.reqId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="reqTableHeader"> Name </th>
      <td mat-cell *matCellDef="let cell" class="reqTableCell"> {{cell.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef class="reqTableHeader"> Description </th>
      <td mat-cell *matCellDef="let cell" class="reqTableCell" ng-text-truncate="cell.description"
        ng-tt-words-threshold="50"> {{cell.description}} </td>
    </ng-container>

    <ng-container matColumnDef="explanation">
      <th mat-header-cell *matHeaderCellDef class="reqTableHeader"> Explanation </th>
      <td mat-cell *matCellDef="let cell" class="reqTableCell"> {{cell.explanation}} </td>
    </ng-container>

    <!-- Buttons in action column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="reqTableHeader"> Actions </th>
      <td mat-cell *matCellDef="let cell">
        <button type="button" class="btn btn-secondary btn-sm" (click)="assignWorkhours(cell)">Assign workhours</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="reqColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: reqColumns;"></tr>
  </table>
</div>