<h2>Workhours menagement</h2>

<div class='col'>
  <!-- Filter -->
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <!-- Table -->
  <table mat-table [dataSource]="requirements$" multiTemplateDataRows class="reqTable">
    <!-- Content of table in expandable row -->
    <ng-container matColumnDef="reqId">
      <th mat-header-cell *matHeaderCellDef class="reqTableHeader"> ID </th>
      <td mat-cell *matCellDef="let cell" class="reqTableCell"> {{cell.reqId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="reqTableHeader"> Name </th>
      <td mat-cell *matCellDef="let cell" class="reqTableCell"> {{cell.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef class="reqTableHeader"> Description </th>
      <td mat-cell *matCellDef="let cell" class="reqTableCell" ng-text-truncate="cell.description"
        ng-tt-words-threshold="50"> {{cell.description}} </td>
    </ng-container>

    <ng-container matColumnDef="explanation">
      <th mat-header-cell *matHeaderCellDef class="reqTableHeader"> Explanation </th>
      <td mat-cell *matCellDef="let cell" class="reqTableCell"> {{cell.explanation}} </td>
    </ng-container>

    <!-- Buttons in action column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="reqTableHeader"> Actions </th>
      <td mat-cell *matCellDef="let cell">

        <button type="button" class="btn btn-primary btn-sm" (click)="requirementDetails(cell)">Details</button>
        &nbsp;
        <button type="button" class="btn btn-secondary btn-sm" (click)="assignWorkhours(cell)">Assign workhours</button>

      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" colspan="4"><!-- colspan makes expandable row same size as table (5 columns) -->
        <div class="requirement-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class = "requirement-description">
            <table mat-table [dataSource]="workhours$" class="whtable" *ngIf="workhours$.length > 0">

                <ng-container matColumnDef="whId">
                    <th mat-header-cell *matHeaderCellDef class="whTableHeader"> ID </th>
                    <td mat-cell *matCellDef="let cell" class="whTableCell" > {{cell.whId}} </td>
                </ng-container>

                <ng-container matColumnDef="employee">
                    <th mat-header-cell *matHeaderCellDef class="whTableHeader"> Created by </th>
                    <td mat-cell *matCellDef="let cell" class="whTableCell" > {{cell.employee}} </td>
                </ng-container>

                <ng-container matColumnDef="workhours">
                    <th mat-header-cell *matHeaderCellDef class="whTableHeader"> Workhours </th>
                    <td mat-cell *matCellDef="let cell" class="whTableCell" > {{cell.workhours}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="whTableHeader"> Actions </th>
                    <td mat-cell *matCellDef="let cell">
                        <button type="button" class="btn btn-secondary btn-sm" (click)="editWorkhour(cell)" *ngIf="employeeId == cell.employeeId">Edit</button>
                        &nbsp;
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteWorkhour(cell)" *ngIf="employeeId == cell.employeeId">X</button>
                    </td>
                </ng-container>

              <tr mat-header-row *matHeaderRowDef="whColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: whColumns;"></tr>
            </table>
          </div>
        </div>
      </td> 
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="reqColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: reqColumns;" class="req-row" [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = element" (click)="getWorkhoursByRequirementID(element.reqId)"> 
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="wh-row"></tr>
  </table>
</div>